.fb-like-box {
  z-index: 9999;
  position: absolute;
  right: 20px;
  top: 20px;
  background-color: #eee;
  font-size: 24px;
  padding: 12px;
  box-sizing: border-box;
  transition: background 0.2s; }
  .fb-like-box .fa {
    color: blue; }
  .fb-like-box .fa-thumbs-up {
    display: none; }
  .fb-like-box.liked .fa-thumbs-o-up {
    display: none; }
  .fb-like-box.liked .fa-thumbs-up {
    display: inline; }
  .fb-like-box.splash {
    background: #fec324; }
