.fb-like-box {
  z-index: 9999;
  position: absolute;
  right: 20px;
  top: 20px;
  background-color: #eee;

  font-size: 24px;
  padding: 12px;
  box-sizing: border-box;

  .fa {
    color: blue;
  }

  .fa-thumbs-o-down {
    display: none;
  }

  &.liked {
    .fa-thumbs-o-up {
      display: none;
    }

    .fa-thumbs-o-down {
      display: inline;
    }
  }
}
